footer.footer 
 .footer__right
  .footer__contact 
   h4.footer__title Get notified about new amazing products
   p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. 
   .footer__botton 
    input(type="email", name="email" placeholder="example@mail.com").footer__email
    button.footer__button 
     i.fas.footer__icon 
   .footer__nav 
    a(href="#!").footer__link product
    a(href="#!").footer__link company
    a(href="#!").footer__link learn more
    a(href="#!").footer__link get in touch
 .footer__left 
  .footer__left__icons 
   i.fab.footer__left__fb   
   i.fab.footer__left__tw  
   i.fab.footer__left__in
   i.fab.footer__left__be
  p.footer__left__text &#169;2020 Expice Studio   
 img(src="images/footer_img.png", alt="please waiting").footer__img