section.about-section 
 .about 
  .container 
   .about__top 
    .about__column
     .about__title__block 
     h5.about__title some top restaurant for dining in or Take away!
    .about__text__block 
     p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget  sed   phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id  amet,   nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet,   consectetur  adipiscing elit. Est, adipiscing cursus auctor eget sed.
 .vector 
  img(src="images/about_pattern-1.png", alt="about_pattern")
 .about__bottom
  .about__catalog
   img(src="images/about_img-1.png", alt="about_img").about__catalog__img
   .about__catalog__info
    h5.about__catalog__title Fire Water
    p.about__catalog__text  we are all about we are all about to the fullest and all content dining out or   in!dining out or in!
    .about__catalog__adress 
     i.fal.about__catalog__icon
     p.about__catalog__adress-title New Market
   .about__catalog__buy 
     a(href="#!").about__catalog__buy-text book now
  .about__catalog
   img(src="images/about_img-2.png", alt="about_img").about__catalog__img
   .about__catalog__info
    h5.about__catalog__title The Wonton 
    p.about__catalog__text  we are all about we are all about to the fullest and all content dining out or  in!dining out or in!
    .about__catalog__adress 
     i.fal.about__catalog__icon
     p.about__catalog__adress-title Saheb Bazar
   .about__catalog__buy 
     a(href="#!").about__catalog__buy-text book now
    
  .catalog__right
   .catalog__right__block 
    .catalog__right__line 
    i.fas.catalog__right__icon
   a(href="#!").catalog__right__text see more
