section.advance
 .advance__bg
  .container.adaptive 
   img(src="images/about_pattern-1.png", alt="please waiting").advance__right-vector-1
   img(src="images/about_pattern-2.png", alt="please waiting").advance__right-vector-2
   .advance__block 
    .advance__inner
     .advance__row 
     .advance__title advance booking
     .advance__search 
      input(type="search", name="go" placeholder="search restrurent").advance__input
      button.advance__button go 
     .advance-info 
      .advance-info__block
       .advance-info__block-content 
        .advance-info__title Date
        i.fas.advance-info__icon 
       p.advance-info__user 23-09-2020
      .advance-info__block
       .advance-info__block-content 
        .advance-info__title Time
        i.fas.advance-info__icon 
       p.advance-info__user 5.00 pM
      .advance-info__block
       .advance-info__block-content 
        .advance-info__title Guests
        i.fas.advance-info__icon 
       p.advance-info__user 3 People
   img(src="images/about_pattern-2.png", alt="please waiting").advance__left-vector-1
   img(src="images/about_pattern-1.png", alt="please waiting").advance__left-vector-2
 img(src="images/service_left.png", alt="service_left").advance__img-left
 img(src="images/service_right.png", alt="service_right").advance__img-right

