section.apps 
 .container
  .apps__flex
   .apps__about 
    .apps__title-column 
     .apps__column
     .apps__title Download app for Exciting Deals
    p.apps__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed  phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. 
    .apps__shop 
     .apps__google-play 
      i.fab.apps__google__icon 
      .apps__google-about 
       p.apps__google__text gET IT ON
       h5.apps__google__title google Play
     .apps__store-show 
      i.fab.apps__store__icon
      .apps__store-about 
       p.apps__store__text Download on the
       h5.apps__store__title App Store
   .apps__mobile
     img(src="images/mobile.png", alt="please waiting").apps__mobile__img