section.foods 
 .container
  .foods__about  
   h1.foods__title Explore Our Foods
   p.foods__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est,  adipiscing cursus auctor eget sed phasellus senectus. Ut tellus  donec  vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus  id amet.
   .foods__grid 
    .food 
     img(src="images/food_1.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
    .food 
     img(src="images/food_2.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
    .food 
     img(src="images/food_3.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
    .food 
     img(src="images/food_4.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
    .food 
     img(src="images/food_5.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
    .food 
     img(src="images/food_6.jpg", alt="delicious food").food__img
     .food__info 
      .food__cost-title 
       .food__title Hand Sandwich
       .food__cost $10.25
      .food__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Est, adipiscing. 
      