<!DOCTYPE html>
html(lang="en")
  include views/layout/head.pug
  body
    include views/layout/header.pug
    include views/components/about.pug
    include views/components/advance.pug
    include views/components/service.pug
    include views/components/foods.pug
    include views/components/apps.pug
    include views/layout/footer.pug
    
    script(src="scripts/common.min.js")